{% extends "base.html" %}{% block title %}sign_up{% endblock %}
{% block content %}
<form method="post">
    <br />
    <br />
<div class="container justify-content-sm-center" >
    <h2 content-align="centre">Sign-up</h2>
    <br />
    <div class="form-group" input="centre">
        <label for="email">Email</label>
        <input 
            type="email" 
            class="form-control"
            id="email" 
            name="email" 
            placeholder="Enter Email"       
        />
    </div>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input 
            type="text" 
            class="form-control"
            id="firstname" 
            name="firstname" 
            placeholder="Enter Your first name"       
        />
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input 
            type="text" 
            class="form-control"
            id="lastname" 
            name="lastname" 
            placeholder="Enter Your first name"       
        />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input 
            type="password" 
            class="form-control"
            id="password1" 
            name="password1" 
            placeholder="Enter Your password"       
        />
    </div>
    <div class="form-group">
        <label for="Password2">Password (Confirm)</label>
        <input 
            type="password" 
            class="form-control"
            id="password2" 
            name="password2" 
            placeholder="confirm password"       
        />
    </div>
 <br />
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}